<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  	    <title>Telnet</title>
        <link rel="stylesheet" href="/stylesheets/indexstyle.css">
  	    <script type="text/javascript" src="/scripts/jquery.js"></script>
    </head>
    <body>
        <form>
            <input id="ip" type="hidden" style="position:absolute; left: 30%;" maxlength="15" size="15" value="#ip#" required>
            <input id="model" type="hidden" style="position:absolute; left: 30%;" maxlength="15" size="15" value="#model#" required>
            <div>
                <text style="color:green; position:absolute; right: 1%;">#ip#</text>
                <text style="position:absolute; left: 0%;">Выберите действие:</text>
                <select id="cmd" style="position:absolute; left: 30%;">
                    <option value="show mac">show mac</option>
                    <option value="show errors">show errors</option>
                    <option value="show stats">show stats</option>
                    <option value="cable test">cable test</option>
                    <option value="show log">show log</option>
                    <option value="show vlans">show vlans</option>
                    <option value="show mac-table of VID">show mac-table of VID</option>
                    <option value="find mac">find mac</option>
                    <option value="port disable">port disable</option>
                    <option value="port enable">port enable</option>
                    <option value="save changes">save changes</option>
                    <option value="mac-flush">mac-flush</option>
                </select>
            </div>
            <br/>
            <br/>
            <div id="port">
                <text style="position:absolute; left: 0%;">Укажите порт:</text>
                <select id="selport" style="position:absolute; left: 30%;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                </select>
            </div>
            <div id="vid" style="display: none;">
                <text style="position:absolute; left: 0%;">Укажите VID:</text>
               <input type="text" id="invid" style="position:absolute; left: 30%;" min="1" max="4096" maxlength="4" size="4" pattern="\d{1,4}">
            </div>
            <div id="macdiv" style="display: none;">
                <text style="position:absolute; left: 0%;">Укажите MAC:</text>
                <input type="text" id="mac" style="position:absolute; left: 30%;" maxlength="17" size="15" pattern="[\da-fA-F]{2}([-:][\da-fA-F]{2}){5}">
            </div>
            <br/>
            <button id="send" style="position:absolute; left: 46%;"><text>Submit</text></button>
        </form>
        <br/>
        <hr>
        <div><text style="position:absolute; left: 47%;">Ответ</text>
        </div>
        <br/>
        <hr>
        <div id='result'>
        </div>
        <script type="text/javascript" src="/scripts/index.js"></script>
    </body>
</html>

